body {
    margin: 0;
    text-align: center;
    margin-top: 10%;
    background-color: hsl(223, 67%, 8%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}

button {
    color: white;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(70, 179, 70);
    font-weight: bold;
    border: none;
    width: 200px;
    height: 70px;

}