body {
    margin: 0;
    text-align: center;
    margin-top: 10%;
    background-color: hsl(223, 67%, 8%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}

button {
    color: white;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(70, 179, 70);
    font-weight: bold;
    border: none;
    width: 200px;
    height: 70px;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 20%;
    height: 10px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 0.9;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(106, 223, 106);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
